<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature Tests">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="SSH_HOST" value="example.com"/>
        <!--<server name="SSH_HOST_FINGERPRINT" value=""/>-->
        <server name="SSH_USERNAME" value="whoami"/>
        <!--<server name="SSH_PASSWORD" value="password"/>-->
        <server name="SSH_PRIVATE_KEY" value="path/to/priv/key"/>
        <server name="SSH_PUBLIC_KEY" value="path/to/pub/key"/>
        <server name="SSH_ROOT" value="/path/to/root"/>
    </php>
</phpunit>
